# Michael Bell

## How do changes in income affect the Housing Price Index in Vancouver?

    I will be looking at how fluctuations in the average income relate to the Housing Price Index within Vancouver, British Columbia. I believe that changes in income should reflect similarly in the HPI, as theoretically with more income, the average Canadian can afford to spend more on their homes, increasing prices and therefore the HPI - and vice versa. My dataset utilizes two files, one containing data on Vancouver incomes, and one containing HPI scores across Canada. I will trim the HPI scores to look at specifically those referring to Vancouver.

In [5]:
import numpy as np
import pandas as pd

In [6]:
vanIncFile = ("../data/raw/vancouver_income_main.csv")
canHPIFile = ("../data/raw/hpi_by_region.csv")

In [7]:
vanDataSet = pd.read_csv(vanIncFile)
canHPIDataSet = pd.read_csv(canHPIFile)

In [29]:
finalVan_DS = vanDataSet[['Year', 'Average income (excluding zeros)', 'Median income (excluding zeros)']]
finalVan_DS

    Year  Average income (excluding zeros)  Median income (excluding zeros)
0   1991                             42200                            33600
1   1992                             42900                            33200
2   1993                             40300                            31400
3   1994                             40600                            31900
4   1995                             41500                            32600
5   1996                             40100                            30800
6   1997                             41100                            31700
7   1998                             42200                            32100
8   1999                             42200                            30800
9   2000                             42600                            30800
10  2001                             41900                            31000
11  2002                             43200                            29900
12  2003                             42200                            29900
13  2004                             42800                            29400
14  2005                             42900                            30800
15  2006                             44500                            31500
16  2007                             45300                            32600
17  2008                             45200                            31600
18  2009                             44500                            32000
19  2010                             43600                            30400
20  2011                             45400                            32700
21  2012                             45200                            33200
22  2013                             47000                            33200
23  2014                             46400                            34200
24  2015                             45800                            34100
25  2016                             46000                            35500
26  2017                             49500                            36200
27  2018                             49300                            37000
28  2019                             51100                            37800
29  2020                             52600                            40000

In [28]:
finalHPI_DS = canHPIDataSet[['Month-year', 'Vancouver, British Columbia']]
finalHPI_DS.tail(378)

     Month-year  Vancouver, British Columbia
1116     Jan-91                         69.9
1117     Feb-91                         67.5
1118     Mar-91                         69.3
1119     Apr-91                         71.5
1120     May-91                         73.6
...         ...                          ...
1489     Feb-22                        120.9
1490     Mar-22                        121.3
1491     Apr-22                        121.7
1492     May-22                        121.7
1493     Jun-22                        121.9

[378 rows x 2 columns]